<td>
  {{#if this.features.detailView}}
    <LinkTo @route="subsidy.detail" @model={{@consumption.id}} class="au-c-link">
      {{@consumption.subsidyMeasureOffer.title}}
    </LinkTo>
  {{else}}
    {{@consumption.subsidyMeasureOffer.title}}
  {{/if}}
</td>
<td>
  {{! template-lint-disable no-array-prototype-extensions }}
  {{@consumption.participations.firstObject.participatingBestuurseenheid.classificatie.label}}
</td>
<td>
  {{! template-lint-disable no-array-prototype-extensions }}
  {{@consumption.participations.firstObject.participatingBestuurseenheid.naam}}
</td>
<td>
  {{#if @consumption.modified}}
    {{moment-format @consumption.modified "DD-MM-YYYY — HH:mm"}}
  {{/if}}
</td>
<td class="au-u-visible-small-up">
  <Subsidies::ConsumptionStatusPill @consumption={{@consumption}} />
</td>
<td>
  {{@consumption.activeSubsidyApplicationFlowStep.subsidyProceduralStep.description}}
</td>