<td>
  {{!-- FEATURE-FLAG --}}
  <div>
    {{#if this.isViewableSubsidy}}
      <LinkTo @route="subsidy.detail" @model={{@consumption.id}} class="au-c-link">
        {{@consumption.subsidyMeasureOffer.title}}
      </LinkTo>
    {{else}}
        {{@consumption.subsidyMeasureOffer.title}}
    {{/if}}
  </div>
  <div class="au-u-flex--inline">
    {{#if @consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.label }}
      <AuHelpText @skin="secondary" class="au-u-margin-top-none">
        {{@consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.label}}
      </AuHelpText>
    {{/if}}
    {{#let (this.projectName @consumption) as |projectName|}}
      {{#if projectName}}
        {{!-- template-lint-disable no-whitespace-for-layout --}}
        <AuHelpText @skin="secondary" class="au-u-margin-top-none">
          &nbsp; | {{projectName}}
        </AuHelpText>
      {{/if}}
    {{/let}}
  </div>
</td>
<td>
  {{! template-lint-disable no-array-prototype-extensions }}
  {{@consumption.participations.firstObject.participatingOrganization.classificatie.label}}
</td>
<td>
  {{! template-lint-disable no-array-prototype-extensions }}
  {{@consumption.participations.firstObject.participatingOrganization.naam}}
</td>
<td>
  {{#if @consumption.modified}}
    {{moment-format @consumption.modified "DD-MM-YYYY — HH:mm"}}
  {{/if}}
</td>
<td class="au-u-visible-small-up">
  <Subsidies::ConsumptionStatusPill @consumption={{@consumption}} />
</td>
<td>
  {{@consumption.activeSubsidyApplicationFlowStep.subsidyProceduralStep.description}}
</td>