<div class="au-c-body-container au-c-body-container--scroll">

  <div class="au-o-box">
    <RdfForm
      @groupClass="au-o-grid__item"
      @form={{this.form}}
      {{!-- Show is used to switch between 'edit' and 'show' state, setting this to true makes the forms readonly --}}
      @show={{true}}
      @graphs={{this.graphs}}
      @sourceNode={{this.sourceNode}}
      @formStore={{this.formStore}}
      @forceShowErrors={{this.forceShowErrors}}
      @useNewListingLayout={{true}}
      @level={{2}}
      class="au-u-max-width-medium"
    />
  </div>

  <AuToolbar @size="large" as |Group|>
    {{#if (and this.forceShowErrors (not this.isValidForm))}}
      <Group class="au-c-toolbar__group--row">
        <AuAlert
          @icon="alert-triangle"
          @title="Kan dossier niet versturen"
          @skin="error"
          @size="small"
          @closable="true"
          class="au-u-margin-bottom-none"
        >
          <p>Kan formulier niet versturen door ontbrekende of foutief ingevulde
            velden.</p>
        </AuAlert>
      </Group>
    {{/if}}
    {{#if this.error}}
      <Group class="au-c-toolbar__group--row">
        <AuAlert
          @icon="alert-triangle"
          @title="Oeps! Dit is een beetje gênant ..."
          @skin="error"
          @size="small"
          @closable="true"
          class="au-u-margin-bottom-none"
        >
          <p>Het lijkt er op dat er iets onverwacht is fout gelopen bij het
            {{this.error.action}}
            van het formulier.</p>
        </AuAlert>
      </Group>
    {{/if}}
  </AuToolbar>
</div>