<AuApp>
  <AuMainHeader
    @brandLink={{unless
      this.session.isAuthenticated
      "https://www.vlaanderen.be/nl"
    }}
    @homeRoute="subsidy"
  >
    <li class="au-c-list-horizontal__item">
      <AuLinkExternal
        href="https://abb-vlaanderen.gitbook.io/handleiding-subsidiedatabank/"
        @icon="question-circle"
        @skin="secondary"
      >
        Help
      </AuLinkExternal>
    </li>
    <li class="au-c-list-horizontal__item">
      {{#if this.session.isAuthenticated}}
        <AuLink @route="auth.logout" @icon="logout">
          Afmelden
        </AuLink>
      {{else}}
        <LoginButton @isCompact={{true}} />
      {{/if}}
    </li>
  </AuMainHeader>

  {{#if this.session.isAuthenticated}}
    <AuMainContainer as |main|>
      <main.content>
        <AuBodyContainer>
          {{#unless (eq this.router.currentRouteName "subsidy.applications")}}
            <AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
              <Group>
                <ul
                  class="au-c-list-horizontal au-c-list-horizontal--small hide-on-print"
                >
                  <li class="au-c-list-horizontal__item">
                    <AuLink @route="subsidy.applications" @icon="arrow-left">
                      Terug naar overzicht
                    </AuLink>
                  </li>
                  <BreadCrumb />
                </ul>
              </Group>
            </AuToolbar>
          {{/unless}}
          <AuBodyContainer id="content">
            {{outlet}}
          </AuBodyContainer>
        </AuBodyContainer>
      </main.content>
    </AuMainContainer>
  {{else}}
    {{outlet}}
  {{/if}}
</AuApp>