<AuApp>
  <AuMainHeader
    @brandLink={{unless
      this.session.isAuthenticated
      "https://www.vlaanderen.be/nl"
    }}
    @homeRoute="subsidy"
  >
    <li class="au-c-list-horizontal__item">
      <AuLinkExternal
        href="https://abb-vlaanderen.gitbook.io/handleiding-subsidiedatabank/"
        @icon="question-circle"
        @skin="secondary"
      >
        Help
      </AuLinkExternal>
    </li>
    <li class="au-c-list-horizontal__item">
      {{#if this.session.isAuthenticated}}
        <AuLink
            @route="auth.logout"
            @icon="logout"
          >
            Afmelden
          </AuLink>
      {{else}}
        <LoginButton @isCompact={{true}} />
      {{/if}}
    </li>
  </AuMainHeader>

  {{#if this.session.isAuthenticated}}
    <AuMainContainer as |main|>
      <main.content>
        <AuBodyContainer>
          <AuBodyContainer id="content">
            {{outlet}}
          </AuBodyContainer>
        </AuBodyContainer>
      </main.content>
    </AuMainContainer>
  {{else}}
    {{outlet}}
  {{/if}}
</AuApp>